:root {
    font-family: 'Rubik', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;

}

.justify-center {
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

.align-center {
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 22.5px;

}

.navbar__menu {
    font-size: 1rem;
    color: #4F5665;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.navbar__menu a {
    text-decoration: none;
    color: #4F5665
}

.navbar__menu a:not(first-child) {
    margin-left: 39px;
}

.navbar__menu a:hover {
    color: #F53855;
}

.signin {
    border: none;
    background-color: #fff;
    color: #0B132A;
    font-style: medium;
    cursor: pointer;

}

.signup {

    border-radius: 50px;
    margin-left: 30px;
    background-color: #fff;
    color: #F53855;
    border-color: #F53855;
    cursor: pointer;
    padding: 13px 45px;


}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;

}

.section-text {
    width: 550px;

}

.section-h1 {
    font-size: 3.125rem;

}

.section-p {
    font-size: 1rem;
    margin-top: 20px;
    color: #4F5665;
    width: 555px;
}

.section-button {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    font-size: 1rem;
    border-color: #F53838;
    box-shadow: 20px 20px 50px rgba(245, 56, 56, 0.35);
}

.user-location-server {
    display: flex;
    justify-content: center;
    margin: 103px auto 0;
    padding: 67.5px 0;
    width: 1140px;
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 20px 20px 50px grey;
}

.user {
    display: flex;
    align-items: center;
}

.user:not(:last-child) {
    border-right: 2px #EEEFF2 solid;
    padding-right: 130px;
    height: 125px;
}

.user:not(:first-child) {
    margin-left: 130px;
}

.user__item {
    padding-left: 36.5px;
}



.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-2-h1 {
    width: 383px;
    font-size: 2.188rem;
    color: #0B132A;
}

.section-2-p {
    margin-top: 20px;
    color: #4F5665;
    font-size: 1rem;
    width: 427px;

}

.features {
    margin-left: 170px;
}


.section-4-h1 {
    width: 383px;
    margin-left: 520px;
    margin-top: 150px;
    font-size: 2.188rem;
    text-align: center;
}

.section-4-p {
    margin-left: 440px;
    margin-top: 20px;
    font-size: 1rem;
    width: 555px;
    text-align: center;
    color: #4F5665
}

.section-4-world-image {
    margin-left: 190px;
    margin-top: 150px;
}

.social-media-icons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-5 {}

.section-5-h1 {
    width: 383px;
    margin-left: 520px;
    margin-top: 100px;
    font-size: 2.188rem;
    text-align: center;
}

.section-5-p {
    margin-left: 440px;
    margin-top: 20px;
    font-size: 1rem;
    width: 555px;
    text-align: center;
    color: #4F5665
}

.section-5-box {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}



.section-5-box1 {
    width: 400px;
    height: 230px;
    border: #F53838;
    border-radius: 4px;
    border-style: solid;
}

.section-5-box2 {
    width: 400px;
    height: 230px;
    border: #DDDDDD;
    border-radius: 4px;
    border-style: solid;
}

.section-5-box3 {
    width: 400px;
    height: 230px;
    border: #DDDDDD;
    border-radius: 4px;
    border-style: solid;
}

.section-5-buttons {
    margin-top: 75px;
    display: flex;
    align-items: center;

}

.section-5-subscribe-now {
    margin-top: 65px;
    margin-left: 150px;
    width: 1140px;
    height: 220px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.section-5-subscribe-now-h1 {
    height: 80px;
    width: 371;
    font-size: 2.188rem;

}

.section-5-subscribe-now-p {
    margin-top: 20px;
    height: 16px;
    width: 410px;
    color: #4F5665;
    font-size: 1rem;


}




.section-5-subscribe-now-button {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    font-size: 1rem;
    border-color: #F53838;
    box-shadow: 20px 20px 50px rgba(245, 56, 56, 0.35);
}