:root {
    font-family: 'Rubik', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    cursor: pointer;
}

.navbar-about {
    font-size: 1rem;
    color: #4F5665;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.button1 {
    border: none;
    background-color: #fff;
    color: #0B132A;
    font-style: medium;
    cursor: pointer;

}

.button2 {

    border-radius: 50px;
    width: 150px;
    height: 45px;
    margin-left: 30px;
    background-color: #fff;
    color: #F53855;
    border-color: #F53855;
    cursor: pointer;


}

.section-content {
    display: flex;

}

.section-text {
    margin-top: 170px;
    margin-left: 150px;
    font-style: mixed;
}

.section-h1 {
    font-size: 3.125rem;

}

.section-p {
    font-size: 1rem;
    margin-top: 20px;
    color: #4F5665;
    width: 555px;
}

.section-button {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    font-size: 1rem;
    border-color: #F53838;
    box-shadow: 20px 20px 50px rgba(245, 56, 56, 0.35);
}


.section-image {
    margin-top: 143px;
    margin-right: 83px;


}


.user-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user-location {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.user-server {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-logo-image {
    margin-right: 25px;
}

.user-logo-location {
    margin-right: 25px;
}

.user-logo-server {
    margin-right: 25px;
}

.user-location-server {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-top: 103px;
    width: 1140px;
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 20px 20px 50px grey;
}

.section-2 {
    display: flex;
    align-items: center;
}

.section-image-2 {
    margin-left: 185px;
    margin-top: 75px;
}

.section-2-h1 {
    margin-top: 150px;
    width: 383px;
    font-size: 2.188rem;
    color: #0B132A;
    margin-left: 167px;
}

.section-2-p {
    margin-left: 167px;
    margin-top: 20px;
    color: #4F5665;
    font-size: 1rem;
    width: 427px;

}

.section-image-2-true-tables {
    margin-left: 167px;
    margin-top: 20px;
    align-items: center;
}





.section-3-h1 {
    margin-left: 600px;
    margin-top: 150px;
}

.section-3-p {
    margin-left: 440px;
    margin-top: 20px;
    font-size: 1rem;
    width: 555px;
    text-align: center;
    color: #4F5665
}



.section-3-boxs {
    display: flex;

}


.box1 {
    width: 330px;
    height: 760px;
    border-style: solid;
    border-radius: 10px;
    border-color: #DDDDDD;
    border-style: 2px;
    margin-left: 175px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;


}

.box2 {
    width: 330px;
    height: 760px;
    border-style: solid;
    border-radius: 10px;
    border-color: #DDDDDD;
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;



}

.box3 {
    width: 330px;
    height: 760px;
    border-style: solid;
    border-radius: 10px;
    border-color: #F53838;
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}

.box-1-button {
    border-radius: 50px;
    width: 175px;
    height: 45px;
    margin-left: 30px;
    background-color: #fff;
    color: #F53855;
    border-color: #F53855;
    cursor: pointer;
}

.box-2-button {
    border-radius: 50px;
    width: 175px;
    height: 45px;
    margin-left: 30px;
    background-color: #fff;
    color: #F53855;
    border-color: #F53855;
    cursor: pointer;
}

.box-3-button {
    border-radius: 50px;
    width: 175px;
    height: 45px;
    margin-left: 30px;
    background-color: #F53855;
    color: #fff;
    border-color: #F53855;
    cursor: pointer;
    box-shadow: 20px 20px 50px rgba(245, 56, 56, 0.35);

}

.section-4-h1 {
    width: 383px;
    margin-left: 520px;
    margin-top: 150px;
    font-size: 2.188rem;
    text-align: center;
}

.section-4-p {
    margin-left: 440px;
    margin-top: 20px;
    font-size: 1rem;
    width: 555px;
    text-align: center;
    color: #4F5665
}

.section-4-world-image {
    margin-left: 190px;
    margin-top: 150px;
}

.social-media-icons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-5 {}

.section-5-h1 {
    width: 383px;
    margin-left: 520px;
    margin-top: 100px;
    font-size: 2.188rem;
    text-align: center;
}

.section-5-p {
    margin-left: 440px;
    margin-top: 20px;
    font-size: 1rem;
    width: 555px;
    text-align: center;
    color: #4F5665
}

.section-5-box {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}



.section-5-box1 {
    width: 400px;
    height: 230px;
    border: #F53838;
    border-radius: 4px;
    border-style: solid;
}

.section-5-box2 {
    width: 400px;
    height: 230px;
    border: #DDDDDD;
    border-radius: 4px;
    border-style: solid;
}

.section-5-box3 {
    width: 400px;
    height: 230px;
    border: #DDDDDD;
    border-radius: 4px;
    border-style: solid;
}

.section-5-buttons{
    margin-top: 75px;
    display: flex;
    align-items: center;

}

.section-5-button1{
    width: 45px;
    height: 15px;
    background-color: #F53838;
    border-radius: 10px;
    border-style: solid;
    border-color: #F53838;

}

.section-5-button2{
    width: 15px;
    height: 15px;
    background-color: #DDDDDD;
    border-radius: 10px;
    border-style: solid;
    border-color: #DDDDDD;

}

.section-5-button3{
    width: 15px;
    height: 15px;
    background-color: #DDDDDD;
    border-radius: 10px;
    border-style: solid;
    border-color: #DDDDDD;

}

.section-5-button4{
    width: 15px;
    height: 15px;
    background-color: #DDDDDD;
    border-radius: 10px;
    border-style: solid;
    border-color: #DDDDDD;

}

.section-5-button5{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    border-style: solid;
    border-color: #F53838;

}

.section-5-button6{
    width: 60px;
    height: 60px;
    background-color: #F53838;
    border-radius: 60px;
    border-style: solid;
    border-color: #F53838;

}

.section-5-subscribe-now{
margin-top: 65px;
margin-left: 150px;
width: 1140px;
height: 220px;
background-color:aqua;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: space-evenly;

}

.section-5-subscribe-now-h1{
    height: 80px;
    width: 371;
    font-size: 2.188rem;
    
}
.section-5-subscribe-now-p{
margin-top: 20px;
height: 16px;
width: 410px;
color: #4F5665;
font-size: 1rem;


}




.section-5-subscribe-now-button {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    font-size: 1rem;
    border-color: #F53838;
    box-shadow: 20px 20px 50px rgba(245, 56, 56, 0.35);
}

    .section-5-footer{
        height: 563px;
        width: 1440px;
        border-radius: 10px;
        background-color:#F8F8F8;
       
        
    }   